* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 14px Arial;
}

div {
    position: relative;
}

.bike-loading {
    margin: 50px;
}

.bike-loading:after {
    content: 'Loading...';
}

.bike-wrap {
    float: none;
    clear: both;
    padding: 20px 0;
}

.bike-wrap .tab-menu {
    list-style-type: none;
    float: left;
}

.bike-wrap .tab-menu .tab {
    float: left;
    padding: 5px;
    border: 1px solid gray;
    border-bottom: none;
    cursor: pointer;
    background: #eee;
}

.bike-wrap .tab-menu .tab.active {
    background: white;
}

.bike-wrap .tab-menu .tab ~ .tab {
    border-left: none;
}

.bike-data {
    width: 100%;
    border: 1px solid gray;
    padding: 10px;
    clear: both;
}